# Eclipse
#.classpath
.project/
.settings/
build/
.factorypath

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
.factorypath

# Eclipse
.project
.springBeans



graphql-jpa-query-schema/\.classpath

graphql-jpa-query-annotations/\.classpath

graphql-jpa-query-example/\.classpath

graphql-jpa-query-boot-starter/\.classpath
