# Eclipse
#.classpath
.project/
.settings/
build/
.factorypath

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
.factorypath

graphql-jpa-query-annotations/\.project

graphql-jpa-query-schema/\.project
