# Eclipse
.project/
.settings/
build/
.factorypath

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
.factorypath

# Eclipse
.project
.springBeans
.classpath

.externalToolBuilders

.sts4-cache
