language: java
sudo: required

jdk:
  - oraclejdk8
  - openjdk11

services:
  - docker

cache:
  directories:
  - $HOME/.m2
  
after_success:
  # Send coverage data
  - bash <(curl -s https://codecov.io/bash)
  # Push docker image to Docker Hub
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push introproventures/graphql-jpa-query-example:latest;
    fi
