language: java
sudo: required

services:
  - docker

cache:
  directories:
  - .autoconf
  - $HOME/.m2
  
after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push introproventures/graphql-jpa-query-example:latest;
    fi
