name: CI

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
    paths-ignore:
      - '**/README.md'  
  pull_request:
    branches: [ "master" ]
    paths-ignore:
      - '**/README.md'  

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '17', '19', '21' ]
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn -B -q -ntp install

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
